body {
    background-color: black;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    color: #b24fe2;
  }

  a:hover {
    color: #b24fe2;
  }

  hr.solid {
    border-top: 3px solid #b24fe2;
  }

  p {
    color: white;
    font-family: "Nunito", sans-serif;
  }

  h2 {
    color: white;
    font-family: "Nunito", sans-serif;
  }

  h3 {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    color: #b24fe2;
    font-weight: bold;
  }

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #b24fe2;
}

#mainNavbar .navbar-brand {
    color: #b24fe2;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #b24fe2;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
}

.social-icon {
    color: #b24fe2;
    margin-left: 0.4em;
}

.navbar.scrolled {
    background: rgb(0, 0, 0);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}