body {
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    color: #b24fe2;
}

a:hover {
    color: #b24fe2;
}

hr.solid {
    border-top: 3px solid #30363d;
}

li {
    color: #30363d;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #30363d;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #30363d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #b24fe2;
    font-weight: bold;
}

h4 {
    color: #30363d;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

hr {
    border-top: 1px solid white;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    color: #30363d;
}

#mainNavbar .nav-link:hover {
    color: #b24fe2;
}

#mainNavbar .navbar-brand {
    color: #b24fe2;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #b24fe2;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
}

#AboutSlate {
    background-color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2em;
    line-height: 2;
}

#DesignSlate {
    background-color: #b24fe2;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2em;
    line-height: 2;
}

.btn {
    text-align: left;
}

.accordion>.card {
    background-color: white;
}

;

.carousel-item {
    width: 50%;
    height: 10%;
    margin: auto;
}

.social-icon {
    color: #b24fe2;
    margin-left: 0.1em;
}

.navbar.scrolled {
    background: white;
    transition: background 500ms;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

    .blurb h2 {
        font-size: 2rem;
    }
}